PDF_SOURCE_PATH=C:\Users\rouss\OneDrive\Documents
PDF_OUTPUT_PATH=C:\Users\rouss\OneDrive\Documents\Organisé
CREATE_FOLDERS=True
MOVE_FILES=False
RENAME_FILES=True
CONFIG_FILE=config/categories.json
